@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&display=swap');

body {
    background-color: #b8cbcf;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;
}

#pokemon-select-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image {
    width: 200px;
    height: 200px;
}

.title {
    display: block;
    margin: auto;
    margin-top: 100px;
    font-family: "press start 2p", cursive;
    font-size: 52px;

    color: #f1e864;

}

.subheading {
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #1a266e;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    border: 1px solid #1a3e6e;
    background-color: #f1e864;
    color: #1a3e6e;

    text-decoration: none;
    padding: 3px;

}

.button:hover {
    background-color: #1a3e6e;
    color: #f1e864;
}

.radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.starter-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}